body, input, textarea, select, button {
    font-family: punctuation,"PingFangSC-Regular","Microsoft Yahei","sans-serif";
    -webkit-font-smoothing: subpixel-antialiased;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure {
    margin: 0;
    padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background-color: #f8f8f8;
    min-width: 1180px;
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.3px;
  -moz-osx-font-smoothing: grayscale;
}
/*------------------------header-----------------------*/
.header .logo_box{
	margin: 32px auto 26px;
	text-align: center;
	font-size: 22px;
}
.header .logo_box .logo_pho{
	width: 50px;
	height: 50px;
	display: inline-block;
	overflow: hidden;
	border-radius: 50%;
	background-color: #292929;
}
.header .logo_box .logo_pho a img{
	width: 100%;
}
/*-------------------main------------------*/
.main .main_panel{
    width: 1000px;
    background: #fff;
    margin: 0 auto;
    padding: 32px 0;
}
.main .main_panel .main_inner{
    width: 320px;
    margin: 0 auto;
}
.main .main_panel .main_inner .head .h1{
	text-align: center;
	font-size: 28px;
    margin-bottom: 20px;
    font-weight: normal;
}
.main .main_panel .main_inner .form_container .form_item{
	position: relative;
}
.main .main_panel .main_inner .form_container .form_item+.form_item{
	margin-top: 20px;
	
}
.main .main_panel .main_inner .form_container .form_item .input_box>input{
    border: 1px solid #999;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}
.main .main_panel .main_inner .form_container .form_item .input_box .iconfont{
	position: absolute;
	right: 4px;
	top: 50%;
	margin-top: -13px;
	font-size: 26px;
	color: #82bb24;
	z-index: 99;
	display: none;
}

.main .main_panel .main_inner .form_container .form_item .tips{
	position: absolute;
	left: 105%;
	top: 0;
	padding: 16px 12px;
	font-size: 14px;
	line-height: 21px;
	color: #999;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: none;
	background-color: #fff;
}

.main .main_panel .main_inner .form_container .form_item .tips .l_arrow_icon{
	position: absolute;
	display: inline-block;
	font-size: 21px;
	color: #ccc;
	top: 10px;
	left: -15px;
	background-color: #fff;
	-webkit-text-stroke-width: 0;
}

.main .main_panel .main_inner .form_container .form_item .tips .tips_item{
	width: 240px;
	position: relative;
	padding-left: 20px;
}
.main .main_panel .main_inner .form_container .form_item .tips .tips_item .dot_icon{
	position: absolute;
	left: 0;
	top: 2px;
}
.main .main_panel .main_inner .form_container .form_item .input_box .input_before{
	position: absolute;
	text-align: center;
	width: 48px;
	height: 38px;
	margin-top: 1px;
	line-height: 40px;
	border-right: 1px solid #ccc;
	color: #999;
}
.main .main_panel .main_inner .form_container .form_item .input_box .phone{
	padding-left: 62px;
}

.main .main_panel .main_inner .form_container .form_item .sbm{
	border: none;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    outline: none;
    box-sizing: border-box;
	background-color: #459ae9;
	background: linear-gradient(128deg, #457ae9 0%, #459ae9 90%);
	cursor: pointer;
}
.main .main_panel .main_inner .form_container .form_item .foot{
	font-size: 12px;
	/*vertical-align: middle;*/
}
.main .main_panel .main_inner .form_container .form_item .foot label{
	vertical-align: middle;
	font-size: 14px;
}
.main .main_panel .main_inner .form_container .form_item .foot .divide{
	width: 1px;
	height: 14px;
	display: inline-block;
	background-color: #459ae9;
	vertical-align: middle;
	margin: 0 5px;
}
.main .main_panel .main_inner .form_container .form_item .foot a{
	color: #459ae9;
}
/*error_tips*/
.main .main_panel .main_inner .form_container .form_item .error_tips{
	position: absolute;
	left: 105%;
	width: 280px;
	height: 16px;
	line-height: 16px;
	top: 50%;
	margin-top: -8px;
	font-size: 14px;
	color: #ff5b5b;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: none;
}
/*-------------------------footer-------------------*/
.footer {
	margin-top: 48px;
    border-top: 1px solid #E7E7E7;
    font-size: 12px;
    text-align: center;
 }
.footer p{
    color: #898989;
    height: 55px;
    line-height: 55px;
}
.footer p a{
    color: #898989;
    margin: 0 3px;
}
.footer p a:hover{
	text-decoration: underline;
}

@font-face {
  font-family: 'iconfont';  /* project id 517659 */
  src: url('//at.alicdn.com/t/font_517659_h706u0uo4140wwmi.eot');
  src: url('//at.alicdn.com/t/font_517659_h706u0uo4140wwmi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_517659_h706u0uo4140wwmi.woff') format('woff'),
  url('//at.alicdn.com/t/font_517659_h706u0uo4140wwmi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_517659_h706u0uo4140wwmi.svg#iconfont') format('svg');
}